<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.employee.mapper.EmployeeMapper">

	<resultMap id="DetailedEmployeeResultMap" type="com.example.employee.entity.EmployeeEntity">
		<id column="employee_id" property="employeeId"></id>
		<result column="last_name" property="lastName"></result>
		<result column="first_name" property="firstName"></result>
		<result column="department_id" property="departmentId"></result>
		<result column="department" property="department"></result>
		<result column="status" property="status"></result>
		<result column="delete_flg" property="deleteFlg"></result>
		<result column="created_at" property="createdAt"></result>
		<result column="updated_at" property="updatedAt"></result>
		
		<!--詳細情報-->
		<association property="detail" javaType="com.example.employee.entity.EmployeeDeitalInfEntity">
        	<result column="email" property="email" />
        	<result column="extension_number" property="extensionNumber" />
        	<result column="hire_date" property="hireDate" />
        	<result column="memo" property="memo" />
    	</association>
    	
	</resultMap>
	
	<!--検索用（全件取得）-->
	<select	id="findAll" resultMap="DetailedEmployeeResultMap">
		SELECT 
        	* FROM 
        employee
    	<where>
       	 delete_flg = '0'

        <if test="employeeId != null and employeeId != ''">
            AND employee_id = #{employeeId}
        </if>

        <if test="lastName != null and lastName != ''">
            AND last_name LIKE CONCAT('%', #{lastName}, '%')
        </if>

        <if test="departmentId != null and departmentId != ''">
            AND department_id = #{departmentId}
        </if>
    </where>
	</select>
	
	<!--登録用-->
	<insert id="registMem">
		INSERT INTO EMPLOYEE(employee_id,last_name,first_name,status,delete_flg,department_id,department,created_at,updated_at)
		VALUES(#{employeeId},#{lastName},#{firstName},#{status},#{deleteFlg},"{departmentId}",#{department},#{createdAt},#{updatedAt})
	</insert>
	
	<insert id="registDetailMem">
	INSERT INTO employee_details (
        employee_id,
        email,
        extension_number,
        hire_date,
        memo
    ) VALUES (
        #{employeeId},
        #{email},
        #{extensionNumber},
        #{hireDate}::date,
        #{memo}
    )
	</insert>
	
	<!--更新用-->
	<update id="updateBasic">
	UPDATE employee
    SET
        last_name = #{empForm.lastName},
        first_name = #{empForm.firstName},
        department_id = #{empForm.departmentId},
        department = #{empForm.department},
        status = #{empForm.status},
        updated_at = CURRENT_TIMESTAMP
    WHERE
        employee_id = #{empForm.employeeId}
	</update>
	
	<update id="updateDetail">
	UPDATE employee_details
    SET
        email = #{empForm.email},
        extension_number = #{empForm.extensionNumber},
        hire_date = #{empForm.hireDate}::date,
        memo = #{empForm.memo}
    WHERE
        employee_id = #{empForm.employeeId}
	
	</update>
	
	<!--詳細画面用-->
	<select id="findMemDetail" resultMap="DetailedEmployeeResultMap">
    SELECT
        e.employee_id,
        e.last_name,
        e.first_name,
        e.department_id,
        e.department,
        e.status,
        ed.email,
        ed.extension_number,
        ed.hire_date,
        ed.memo
    FROM
        employee e
    LEFT JOIN 
        employee_details ed ON e.employee_id = ed.employee_id
    WHERE
        e.employee_id = #{employeeId}
        AND e.delete_flg = '0'
	</select>
	
	<!--論理削除用-->
	<update id="delete">
	UPDATE employee
	SET
		delete_flg='1',
		updated_at = #{updatedAt}
	WHERE
		employee_id = #{employeeId}
	
	</update>
	


</mapper>
